<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

     <div class="container">

            <h1>Register 🦊</h1>
        <form method="post" action="/post2">
              
            <label >Email</label>
            <br>
           <input type="email" name="emailRegister" >
           <br>
            <label >Password</label>
            <br>
            <input type="password" name="passwordRegister" >
            <br>
             <label>Confirm Password</label>
             <br>
             <input type="password" name="confirmPasswordRegister" >
             <br>
             <br>
                   <button type="submit">Creer un compte</button>
               <div>
                  <p> <a href="/">Se Connecter</a></p>
               </div>
        </form>
     </div>
      
</body>
</html>